## Test Run for Corpus Analysis

In [27]:
pip install pandas seaborn

Requirement already satisfied: pandas in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (1.3.0)
Requirement already satisfied: seaborn in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (0.11.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (from pandas) (1.21.0)
Requirement already satisfied: six>=1.5 in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: scipy>=1.0 in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (from seaborn) (1.7.0)
Requirement already satisfied: matplotlib>=2.2 in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (from seaborn) (3.4.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/cfiltz/miniconda3/envs/work/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import pandas as pd
import seaborn as sns

In [29]:
cd

/Users/cfiltz

In [30]:
ls

Applications/  Downloads/     Music/         dev/           opt/
Desktop/       Library/       Pictures/      miniconda3/    powerlevel10k/
Documents/     Movies/        Public/        nltk_data/

In [31]:
cd /Users/cfiltz/Documents

/Users/cfiltz/Documents

In [32]:
ls

BEWERBUNGEN/
CV.pdf*
Dokumente - Claire-Emeraudes MacBook Pro/
English CV/
Hoerbuecher/
Lebenslauf/
Lebenslauf andersrum/
Lebenslauf neu/
Lettre Banque Postale.docx*
Steuerdateien/
Steuerzertifikat NO OPEN/
Unterlagen Bewerbung/
test2_analysis.xlsx
test_analysis.csv
~$test2_analysis.xlsx

In [33]:
pwd

'/Users/cfiltz/Documents'

In [45]:
df = pd.read_csv('/Users/cfiltz/Documents/test_analysis.csv')

In [46]:
df.shape

(69, 1)

In [47]:
df.columns

Index(['Number;Alienability;Animacy;Cardinality;NP;corpus passage;spoken/written;Q or I;comments'], dtype='object')

In [48]:
df.head()

  Number;Alienability;Animacy;Cardinality;NP;corpus passage;spoken/written;Q or I;comments
0  asdfhasdf;+AL;+AN;1;a doctor;blaa;written;Q;no...
1       asdfa;+AL;+AN;1;a priest;yuhuu;spoken;I;what
2                    asdf;+AL;+AN;1;a babysitter;;;;
3                      yxcv;+AL;+AN;1;a landlord;;;;
4                               ;+AL;+AN;1;a CEO;;;;

In [54]:
import pandas as pd

In [55]:
data = pd.read_excel('/Users/cfiltz/Desktop/Korpusanalyse.xlsx')

In [56]:
data.head(5)

,ID,Semantic Features,item,YEAR,GENRE,spoken/written,text passage,Q or I GCI?
0,NaN,NaN,a house,2016.0,SPOK,NaN,Power was cut to about two hundred and fifty ...,NaN
1,NaN,NaN,a house,2001.0,SPOK,NaN,"Later, we'll be showing you lots of examples o...",NaN
2,NaN,NaN,a house,2014.0,MOV,NaN,"I saw that, but it could be any park in the co...",NaN
3,NaN,NaN,a house,2006.0,TV,NaN,"This is a surprise - - a very nice one, but u...",NaN
4,NaN,NaN,a house,1999.0,SPOK,NaN,"Once again, the city's charms seduced her. Ms-...",NaN

In [10]:
data[data['GENRE'] == 'SPOK']

,ID,Semantic Features,item,YEAR,GENRE,spoken/written,text passage,Q or I GCI?
0,NaN,NaN,a house,2016.0,SPOK,NaN,Power was cut to about two hundred and fifty ...,NaN
1,NaN,NaN,a house,2001.0,SPOK,NaN,"Later, we'll be showing you lots of examples o...",NaN
4,NaN,NaN,a house,1999.0,SPOK,NaN,"Once again, the city's charms seduced her. Ms-...",NaN
5,NaN,NaN,a house,2006.0,SPOK,NaN,Watson teaches medical ethics at Northwestern ...,NaN
7,NaN,NaN,a house,2011.0,SPOK,NaN,They were using power. I was a private citizen...,NaN
10,NaN,NaN,a professor,2001.0,SPOK,NaN,"And as always, you're welcome to surf over to ...",NaN
11,NaN,NaN,a professor,1999.0,SPOK,NaN,Please include your name and phone number with...,NaN
14,NaN,NaN,a professor,2003.0,SPOK,NaN,"That's, I think, one of the things that makes ...",NaN
15,NaN,NaN,a professor,2001.0,SPOK,NaN,"it gives us more access, it gives us a chance...",NaN
16,NaN,NaN,a professor,2014.0,SPOK,NaN,"They was coaching me, and I was writing it dow...",NaN
18,NaN,NaN,a professor,2012.0,SPOK,NaN,But somebody who was in Tahrir Square 16 month...,NaN
19,NaN,NaN,a professor,2014.0,SPOK,NaN,All of that makes a big difference. MICHEL-MAR...,NaN
38,NaN,NaN,a leg,1995.0,SPOK,NaN,moms with uglier ones paid more attention to o...,NaN
42,NaN,NaN,a leg,2018.0,SPOK,NaN,It doesn't matter. HANNITY) : You're a Trump. ...,NaN
44,NaN,NaN,a leg,2003.0,SPOK,NaN,last 12 years despite getting the fundamentals...,NaN
50,NaN,NaN,a finger,1999.0,SPOK,NaN,you're not going to get peace without justice....,NaN
51,NaN,NaN,a finger,1992.0,SPOK,NaN,rescue two employees. (Early-photo-of-Per) Mr-...,NaN
54,NaN,NaN,a finger,1993.0,SPOK,NaN,"to be Attorney General, this new president is ...",NaN
56,NaN,NaN,a nose,2015.0,SPOK,NaN,AL ROKER: Three. NATALIE-MORALES# Right. TAMRO...,NaN
59,NaN,NaN,a nose,1997.0,SPOK,NaN,"big ape. The second movie on the bill was "" Th...",NaN
62,NaN,NaN,a nose,2007.0,SPOK,NaN,but bar the. (CROSSTALK) That was a piece of i...,NaN
68,NaN,NaN,a bag,2001.0,SPOK,NaN,"welfare, in child abuse, in prisons and what h...",NaN
81,NaN,NaN,a shoe,2012.0,SPOK,NaN,"The Avengers dropped to second place, but it's...",NaN
83,NaN,NaN,a shoe,1995.0,SPOK,NaN,He has qualified every answer to a hypothetica...,NaN